.navbar-brand {
    padding: 0px;
}

.navbar-brand>img {
    height: 100%;
    padding: 15px;
    width: auto;
}

.dted-navbar .navbar-brand {
    height: 120px;
}

.dted-navbar .nav>li>a {
    padding-top: 30px;
    padding-bottom: 30px;
}

.dted-navbar .navbar-toggle {
    padding: 10px;
    margin: 25px 15px 25px 0;
}

.brand-centered .navbar-brand {
    display: flex;
    align-items: center;
}


.navbar-alignit .navbar-header {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    height: 50px;
}

.navbar-alignit .navbar-brand {
    top: 50%;
    display: block;
    position: relative;
    height: auto;
    transform: translate(0, -50%);
    margin-right: 15px;
    margin-left: 15px;
}

.navbar-nav>li>.dropdown-menu {
    z-index: 9999;
}